@model FishingCapstone.Models.Destination

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";
}

<h1>Compare Two Destinations by Month</h1>

<h4>Comparing: @Model.DestinationName</h4>
<hr />
<form asp-action="Compare" method="post">
    <table class="table table-hover">

        <tr>
            <td>
                <input type="hidden" asp-for="DestinationId" />
                @Html.Hidden("DestinationId")
                <div class="form-group">To Second Destination:</div>
                <div class="form-group">
                    <select asp-for="DestinationToCompare" class="form-control" asp-items="ViewBag.DestinationToCompare"></select>
                    <span asp-validation-for="DestinationToCompare" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label class="control-label">In the month of:</label>
                    <select asp-for="MonthId" class="form-control" asp-items="ViewBag.MonthId"></select>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <input type="submit" value="Show Comparison" class="btn btn-primary" />
                </div>
            </td>
        </tr>
    </table>
</form>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

