@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1>Welcome to trendCrest!</h1>
        <h4>We connect fishing enthusiasts to amazing destinations around </h4>
        <h4>the world to find their next <b>once in a lifetime</b> experience.</h4>
        <img src="images/trendCrestGraphic-600.jpg" alt="trendCrest<--fish here." width="600">
    </div>
