@model IEnumerable<FishingCapstone.Models.Month>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";
}

<h1>Pick a month to see what's biting.</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MonthName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Calendar" asp-route-id="@item.MonthId">@Html.DisplayFor(modelItem => item.MonthName)</a>
            </td>
            <td>
                <a asp-action="Calendar" asp-route-id="@item.MonthId">Calendar</a>
            </td>
        </tr>
}
    </tbody>
</table>
