@model IEnumerable<FishingCapstone.Models.Species>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";
}

<h1>Select your favorite fish to catch.</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">See the best places and the best times to catch the best fish!</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Calendar" asp-route-id="@item.SpeciesId">@Html.DisplayFor(modelItem => item.SpeciesName)</a>
                </td>
                <td>
                    | <a asp-action="Calendar" asp-route-id="@item.SpeciesId">Calendar</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
