@model FishingCapstone.Models.Trip

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout-Explorer.cshtml";
}

<h1>Create</h1>

<h4>Trip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.Hidden("ExplorerId")
            @Html.Hidden("DestinationId")
            @Html.Hidden("TripMonthId")
            @*<div class="form-group">
                <label asp-for="ExplorerId" class="control-label"></label>
                <select asp-for="ExplorerId" class="form-control" asp-items="ViewBag.ExplorerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DestinationId" class="control-label"></label>
                <select asp-for="DestinationId" class="form-control" asp-items="ViewBag.DestinationId"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="TripName" class="control-label"></label>
                <input asp-for="TripName" class="form-control" />
                <span asp-validation-for="TripName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TripGuideService" class="control-label"></label>
                <input asp-for="TripGuideService" class="form-control" />
                <span asp-validation-for="TripGuideService" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="TripMonthId" class="control-label"></label>
                <select asp-for="TripMonthId" class="form-control" asp-items="ViewBag.TripMonthId"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="TripStart" class="control-label"></label>
                <input asp-for="TripStart" class="form-control" />
                <span asp-validation-for="TripStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TripEnd" class="control-label"></label>
                <input asp-for="TripEnd" class="form-control" />
                <span asp-validation-for="TripEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
